html{
  font-size: 62.5%;
}

body{
  padding-bottom: 32px;
  font-size: 1.6rem;
}

li{
  margin-bottom: 8px;
}

#header{
  display: none;
}

#title-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  text-align: right;
  background-color: #293b5f;
  color: white;
  padding: 20px 32px;
  margin-bottom: 24px;
  box-shadow: 0px 12px 8px rgba(0,0,0,0.1);
}

#title-info{
  display: flex;
  flex-direction: column;
}

#title-container h1 {
  font-size: 3.2rem;
}

#tema-container {
  background-color: #f5f5f5;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}

#tema-container p{
  text-align: center;
}