div#header {
  text-align: center;
  color: #002B5B  ;
}

h2{
  color: #1A5F7A;
}

h3{
  color: #159895;
}
h4{
  color: #213555;
}
p strong{
  color: #4F709C;
}
body { 
   background-color: #F6F1F1; 
}

table > tbody > tr:hover { 
  background-color: #C9EEFF !important;
}
