/* Estilos para el contenedor principal */
.container {
  max-width: 900px;
  margin: 0 auto;
}

/* Estilos para los títulos */
h1, h2, h3, h4, h5, h6 {
  color: #333;
}

/* Estilos para la tabla de contenido */
.table-of-contents {
  background-color: #32CBA2;
  padding: 10px;
}

/* Estilos para los enlaces de la tabla de contenido */
.table-of-contents a {
  color: #007bff;
  text-decoration: none;
}

/* Estilos para los encabezados flotantes de la tabla de contenido */
.toc-float-wrapper {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
}