@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300;500;600&display=swap');

body, h1, h2, h3, h4, h5, a, li, ul, butotn, div  {
	font-family: 'Signika Negative', sans-serif !important;
	text-align: justify !important;
};

body, p, span {
	font-weight: 300 !important;
	text-align: justify !important;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 500 !important;
}

h1 {
	font-weight: 600 !important;
};

table.table tbody tr.odd,
table.table tbody tr.even {
    border-bottom: 2px solid #ccc !important;
}

div.tocify {
	max-width: auto !important;
}

hr {
  border-top: 1px solid #ccc;
}

table>thead>tr>th, .table>thead>tr>th, table>tbody>tr>th, .table>tbody>tr>th, table>tfoot>tr>th, .table>tfoot>tr>th, table>thead>tr>td, .table>thead>tr>td, table>tbody>tr>td, .table>tbody>tr>td, table>tfoot>tr>td, .table>tfoot>tr>td {
  border-top: 1px solid #ccc;
}

.table-condensed>thead>tr>th, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>tbody>tr>td, .table-condensed>tfoot>tr>td {
  padding: 15px 0px;
}