
.reveal h1, .reveal h2, .reveal h3 {
  word-wrap: normal;
  -moz-hyphens: none;
}

.small-code pre code {
  font-size: 0.5em;
}

h2{
  background-color: lightblue;
  font-size: 0.85em;
}

h5{
  background-color: lightblue;
  font-size: 0.55em;
}

.slide-content {
  margin: 1em; /* Adjust the margin size as desired */
}

slides>slide>hgroup+article{
  margin-top:0;
}

.columns {
  display: flex;
}

.column {
  flex: 1;
}

.mosaicplot {
  width: 50%; /* Adjust the width as desired */
  height: auto;
}

.boxplot {
  width: 50%; /* Adjust the width as desired */
  height: auto;
}

body.slide {
  margin: 0;
  padding: 0;
  border: none;
}

.slide-container {
  width: 100%;
}

.reveal {
  box-shadow: none;
}

